html, body {
  height: 100%;
}

body {
  background: #f9f9f9;
  color: #555459;
  font-family: "Avenir Next";
}

#root {
  display: flex;
}

.card {
  box-shadow: 2px 2px 4px 0px hsla(0, 0%, 0%, 0.08);
  border: 1px solid #e8e8e8;
}
